{% extends "pages/base_page.html" %}

{% block content %}
<div class="container" style="text-align: center; padding-top: 5%;">
    <div class="row">
        <div class="col-lg-6" style="margin: auto; ">
            <form method="post" action="." style="">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group" style="margin-bottom: 2%;">
                        <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
                        <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.label }}" type="text" />
                        {{ field.errors }}
                    </div>
                {% endfor %}
              <input type="submit" class="btn yellow" style="color: #000;" value="Log in" />
              <input class="btn" type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

    <p>Gleymt lykilorð? <a href="/password_reset/">Endursettu lykilorðið</a></p>
    <p>Ekki með aðgang? <a href="/signup/">Skráðu þig</a>!</p>

</div>
{% endblock %}