{% extends "pages/base_page.html" %}

{% block content %}

{% if validlink %}

<form method="post" action=".">
  {{ form.as_p }}

  <input type="submit" value="Submit" />
</form>

{% else %}

<p>Password reset failed</p>

{% endif %}

{% endblock %}