{% extends "pages/base_page.html" %}

{% load staticfiles %}
{% load i18n %}

{% block cssextra %}
    <style>

    </style>
{% endblock %}

{% block content %}
<div class="jumbotron"  style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff; padding: 2%;">
                        <div class="promo_description">

	 <div class="container">
            <section id="contact" style="">
                <div class="container">
                    <div class="row">
                        <div class="about_our_company" style="margin-bottom: 20px;">
                            <div id="mk-custom-box-2" class="mk-custom-boxed mk-shortcode    "><h3 style="font-size: 30px;text-align:left;line-height:100%;letter-spacing:0px;color: #393836;font-weight:inherit;margin-bottom:10px; margin-top:10px; " id="fancy-title-3" class="mk-fancy-title responsive-align-center simple-title left-align  "><span class="fancy-title-span pointed"><p>UM OKKUR</p>
</span></h3><div class="mk-text-block responsive-align-center  "><p><strong>Vaka var stofnuð árið 1949 og er því eitt elsta fyrirtækið í bílabransanum á Íslandi. Fyrirtækið hóf starfsemi sína með dráttarbíla að fyrirmynd Falk þjónustunnar í Danmörku en vegna smæðar landsins þurfti að aðlaga starfsemina. Í dag starfar fyrirtækið á hinum ýmsu sviðum sbr.</strong></p><ul><li>Bíla og tækjaflutningar</li><li>Eitt öflugasta dekkjaverkstæði landsins</li><li>Selur ný og notuð dekk</li><li>Heldur uppboð á vegum Sýslumannsins á höfuðborgarsvæðinu</li><li>Selur notaða bílavarahluti</li><li>Bílaförgun</li><li>Dekkjahótel</li><li>Smáviðgerðir</li></ul><p>Vaka er með starfssemi sína í Skútuvogi 8 Reykjavík.</p><p><strong>Opnunartími verslunar Vöku er sem hér segir:</strong><br>
8.00 – 18.00 mánudag – föstudag<br>
10.00 – 14.00 laugardögum<br>
Lokað á sunnudögum</p><p><strong>Skrifstofa Vöku er opin:</strong><br>
9.00 – 17.00 mánudaga – föstudaga<br>
Lokað um helgar.</p><p>Hægt&nbsp;að hafa samband í síma: 567-6700</p><div class="clearboth"></div></div><div class="clearboth"></div></div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </section>
     </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}

{% block scriptsextra %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
