{% block cssextra %}
    <style>
        section#contact {

            background-position: center;
            background-repeat: no-repeat;
        }
        section {
            padding: 15px 0px;
        }
        section#contact .section-heading {
            color: white;
        }
        section#contact .form-group {
            margin-bottom: 25px;
        }
        section#contact .form-group input,
        section#contact .form-group textarea {
            padding: 10px;
        }
        section#contact .form-group input.form-control {
            height: auto;
        }
        section#contact .form-group textarea.form-control {
            height: 188px;
        }
        section#contact .form-control:focus {
            border-color: #fed136;
            box-shadow: none;
        }
        section#contact ::-webkit-input-placeholder {
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        .gellary_bg_none img{
            width: 100%;
            height: 250px;
        }
        section#contact :-moz-placeholder {
            /* Firefox 18- */
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        section#contact ::-moz-placeholder {
            /* Firefox 19+ */
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        section#contact :-ms-input-placeholder {
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        section#contact .text-danger {
            color: #e74c3c;
        }

        .about_our_company{
            text-align: center;
        }
        .about_our_company h1{
            font-size: 25px;
        }
        .titleline-icon {
            position: relative;
            max-width: 100px;
            border-top: 4px double #F99700;
            margin: 20px auto 20px;
        }
        .titleline-icon:after {
            position: absolute;
            top: -11px;
            left: 0;
            right: 0;
            margin: auto;
            font-family: 'FontAwesome';
            content: "\f141";
            font-size: 20px;
            line-height: 1;
            color: #F99700;
            text-align: center;
            vertical-align: middle;
            width: 40px;
            height: 20px;
            background: #ffffff;
        }
        .contact-info p {
            color: #fff;
        }
        .contact_container {
            background-image: url('');
            background-color: #222222;
        }
        .contact_container p {
            font-size: 15px;
        }
        #contactForm input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #555 !important;
        }
        #contactForm input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    #555 !important;
           opacity:  1;
        }
        #contactForm input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #555 !important;
           opacity:  1;
        }
        #contactForm input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:    #555 !important;
        }
        #contactForm input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Microsoft Edge */
           color:    #555 !important;
        }
    </style>
{% endblock %}

{% block content %}
            <section id="contact" style="">
                <div class="container" style="margin-top:4%" >
                    <div class="row">
                        <div class="about_our_company" style="margin-bottom: 20px;">
                            <h1 style="color:#fff;" class="lang_en">Hafa samband</h1>
                            <p style="color:#fff;" class="lang_en">Fyrir spurningar eða athugasemdir sendið okkur skilaboð</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <form name="sentMessage" id="contactForm" method="post" novalidate="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="name" type="text" class="lang_en form-control" placeholder="Nafn *" id="name" required="" data-validation-required-message="Please enter your name.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input name="email" type="email" class="lang_en form-control" placeholder="Netfang *" id="email" required="" data-validation-required-message="Please enter your email address.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input name="phone" type="tel" class="lang_en form-control" placeholder="Sími" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea name="message" class="lang_en form-control" placeholder="Skilaboð *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <div class="g-recaptcha" style="display:inline-block;" data-callback="enableContactBtn" data-theme="dark" data-sitekey="6LdQETcUAAAAABwlFh4PAumugsVztGicNWaqQca7"></div><br>
                                        <button id="contact_submit_button" type="submit" class="btn btn-xl get lang_en" disabled>Send Message</button>
                                        <script>function enableContactBtn() {document.getElementById("contact_submit_button").disabled = false;}</script>
                                    </div>
                                    <div id="submittedMessage" style="display: none;" class="col-lg-12 text-center">
                                        <h4><span class="lang_en" style="color: #fff">Thank you for your message, we will respond shortly</span></h4>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 contact-info">
                            <p style="color:#fff;">
                                <strong><i class="fa fa-map-marker"></i> <span class="lang_en">Staðsetning</span></strong><br>
                                Skútuvogi 8, 104 Reykjavík(Iceland)
                            </p>
                            <p><strong><i class="fa fa-phone"></i> <span class="lang_en">Sími</span></strong><br>
                                <a href="tel:00354">(+354) 567 6700</a></p>
                            <p>
                                <strong><i class="fa fa-envelope"></i>  <span class="lang_en">Netfang</span></strong><br>
                                <a href="mailto:support@vakauppbod.is">support@vakauppbod.is</a></p>
                            <p></p>
                        </div>
                    </div>
                    {% if message_sent %}
                        <div class="row">
                            <div class="col-lg-12" >
                                <h2 class="lang_en" style="color: #fff">Takk fyrir skilaboðin, við munum hafa samband innan skamms.</h2>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>

{% endblock %}
{% block scripts %}
<script>

</script>
{% endblock  %}
