{% extends "pages/base_page.html" %}

{% block cssextra %}
    <style>
        #wrapper {
            background-color: #222222;
            background-image: url('');
        }
    </style>
{% endblock %}

{% block content %}
	 <div class="container">
         {% include "pages/_contact.html" %}
     </div>

{% endblock %}

{% block scriptsextra %}

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
    jQuery(document).ready(function(){
        if(getUrlParameter('submitted'))
            $('#submittedMessage').show()
    })
    </script>
{% endblock %}