{% extends "pages/base_page.html" %}

{% block title %}
    Front page
{% endblock %}
{% block cssextra %}
    <style>
        .show_en .lang_en { display: inline !important; }
        .show_en .lang_is { display: none !important; }
        .show_is .lang_en { display: none !important; }
        .show_is .lang_is { display: inline !important; }
        img { max-width: 100%; }
        .jumbotron {
            background-size: cover;
        }
        .btn.light {
            border-color: #fff;
        }
        .promo {
            padding: 2%;
        }
        .area_image_container {
            padding: 15px
        }

        .auction_item_photo {
            min-height: 275px;
        }
        @media(max-width: 960px) {
            .promo {
                padding: 7%;
            }
        }
        .auction_item_photo {
            background-size: cover;
            background-position: center;
        }
        .jumbotron {
            padding-top: 0px;
            padding-bottom: 2em;
        }
        .filter-container .selection-item {
            font-weight: 700;
            color: #666 !important;
        }
        .filter-container .selection-item.active {
            color: #000 !important;
            font-weight: bold !important;
        }
        .auction_item_description a:hover, .auction_item_info a:hover {
            text-decoration: none;
        }
        @media(max-width: 1024px) {
            .filter-container .selection-item {
                font-size: 14px;
            }
            .filter-container .col-lg-6 {
                display: flex;
            }
        }
    </style>
{% endblock %}

{% block content %}
{% if is_account %}
{% endif %}
<div class="filter-container container">
    <div class="row">
        <div class="col-lg-4">
            <a class="selection-item btn yellow {% if type == 'all' %}active{% endif %}" style="" onclick="updateQueryStringParameter('type', 'all')">Allt</a>
            <a class="selection-item btn yellow {% if type == 'vehicles' %}active{% endif %}" style="" onclick="updateQueryStringParameter('type', 'vehicles')">Bílar</a>
            <a class="selection-item btn yellow {% if type == 'assorted' %}active{% endif %}" style="" onclick="updateQueryStringParameter('type', 'assorted')">Ýmislegt</a>
        </div>
        <div class="col-lg-8" style="text-align: right;">
            <a class="selection-item btn yellow {% if time == 'current' %}active{% endif %}" style="" onclick="updateQueryStringParameter('time', 'current')">Uppboð í gangi</a>
            <a class="selection-item btn yellow {% if time == 'today' %}active{% endif %}" style="" onclick="updateQueryStringParameter('time', 'today')">Uppboð sem enda í dag</a>
            <a class="selection-item btn yellow {% if time == 'finished' %}active{% endif %}" style="" onclick="updateQueryStringParameter('time', 'finished')">Uppboðum lokið</a>
        </div>
    </div>
</div>
{% for item in items_on_auction %}
<div class="jumbotron"  style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff;">
                        <div class="promo_description">
                            <div class="row">
                                <div class="col-lg-4 auction_item_photo" style="background-image:url('{{ item.display_photo.url }}')">
                                    <a href="/auction/item/{{ item.pk }}" style="position: absolute; top: 0; bottom:0; left: 0; right: 0;"></a>
                                </div>
                                <div class="col-lg-5 auction_item_description">
                                    <a href="/auction/item/{{ item.pk }}" style="color: #000;">
                                        <h2 style="color: #0589c1;">{{ item.title }}</h2>
                                        <p>{{ item.description|truncatechars:150 }}</p>
                                        {% if offers %}
                                            {% if item.current_offer.pk in offer_ids %}
                                        <p style="color: green;"><span style="font-weight: bold;">Boð í gildi</span><!--: {{ item.get_formatted_offer }}--></p>
                                            {% else %}
                                        <p style="color: red;"><span style="font-weight: bold;">Boðið hefur verið hærra</span><!--: {{ item.get_formatted_offer }}--></p>
                                            {% endif %}
                                        {% endif %}
                                        <p><span style="font-weight: bold;">Tími eftir: </span>{{ item.get_auction_time_left }}</p>
                                        <p><span style="font-weight: bold;">Núverandi boð</span>:{{ item.get_formatted_offer }}</p>
                                    </a>
                                </div>
                                <div class="col-lg-3 auction_item_info">
                                    <a href="/auction/item/{{ item.pk }}" style="color: #000;">
                                    {% if item.registry_number %}
                                        <p><span style="font-weight: bold;">Fastanúmer</span>: {{ item.registry_number }}</p>
                                    {% endif %}
                                    {% if item.newly_registered %}
                                        <p><span style="font-weight: bold;">Nýskráður</span>: {{ item.newly_registered }}</p>
                                    {% endif %}
                                    {% if not item.kilometer_count == None %}
                                        <p><span style="font-weight: bold;">Kílómetrar</span>: {{ item.get_formatted_km_count }}</p>
                                    {% endif %}
                                    {% if not item.written_off_registry == None %}
                                        <p><span style="font-weight: bold;">Skráð tjónatæki</span>: {% if item.written_off_registry %}Já{% else %}Nei{% endif %}</p>
                                    {% endif %}
                                    {% if item.seller %}
                                        <p><span style="font-weight: bold;">Seljandi</span>: {{ item.seller }}</p>
                                    {% endif %}
                                    </a>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="jumbotron contact_container" style="padding-top: 0px; padding-bottom: 0px;  margin-bottom: 0px;">
        <div class="container">
            {% include "pages/_contact.html" %}
        </div>
    </div>
{% endblock %}

{% block scriptsextra %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        function updateQueryStringParameter(key, value) {
          var uri = window.location.href;
          var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
          var separator = uri.indexOf('?') !== -1 ? "&" : "?";
          if (uri.match(re)) {
            window.location.href =  uri.replace(re, '$1' + key + "=" + value + '$2');
          }
          else {
            window.location.href = uri + separator + key + "=" + value;
          }
        }
        function addOrUpdateUrlParam(name, value) {
                console.log('value', value)
                console.log('name', name)
                var href = window.location.href;
                var regex = new RegExp("[&\\?]" + name + "=");
                if(regex.test(href)) {
                    regex = new RegExp("([&\\?])" + name + "=\\d+");
                    console.log(href.replace(regex, "$1" + name + "=" + value))
                    //window.location.href = href.replace(regex, "$1" + name + "=" + value);
                }else{
                    if(href.indexOf("?") > -1){
                        console.log(href + "&" + name + "=" + value)
                      //window.location.href = href + "&" + name + "=" + value;
                    }else{
                        console.log(href + "?" + name + "=" + value)
                      //window.location.href = href + "?" + name + "=" + value;
                    }
                }
            }
    </script>
{% endblock %}
