{% extends "pages/base_page.html" %}

{% load staticfiles %}
{% load i18n %}

{% block cssextra %}
    <style>
        #wrapper {
            background-color: #222222;
        }
        section#contact {

            background-position: center;
            background-repeat: no-repeat;
        }
        section {
            padding: 30px 0PX;
        }
        section#contact .section-heading {
            color: white;
        }
        section#contact .form-group {
            margin-bottom: 25px;
        }
        section#contact .form-group input,
        section#contact .form-group textarea {
            padding: 20px;
        }
        section#contact .form-group input.form-control {
            height: auto;
        }
        section#contact .form-group textarea.form-control {
            height: 236px;
        }
        section#contact .form-control:focus {
            border-color: #fed136;
            box-shadow: none;
        }
        section#contact ::-webkit-input-placeholder {
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        .gellary_bg_none img{
            width: 100%;
            height: 250px;
        }
        section#contact :-moz-placeholder {
            /* Firefox 18- */
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        section#contact ::-moz-placeholder {
            /* Firefox 19+ */
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        section#contact :-ms-input-placeholder {
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: #eeeeee;
        }
        section#contact .text-danger {
            color: #e74c3c;
        }

        .about_our_company{
            text-align: center;
        }
        .about_our_company h1{
            font-size: 25px;
        }
        .titleline-icon {
            position: relative;
            max-width: 100px;
            border-top: 4px double #F99700;
            margin: 20px auto 20px;
        }
        .titleline-icon:after {
            position: absolute;
            top: -11px;
            left: 0;
            right: 0;
            margin: auto;
            font-family: 'FontAwesome';
            content: "\f141";
            font-size: 20px;
            line-height: 1;
            color: #F99700;
            text-align: center;
            vertical-align: middle;
            width: 40px;
            height: 20px;
            background: #ffffff;
        }
        .contact-info p {
            color: #fff;
        }
        .introduction_text h4, .introduction_text p {
            color: #fff;
        }

        .inverted {
            -webkit-filter: invert(100%);
        }
        #signupForm input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #555 !important;
        }
        #signupForm input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    #555 !important;
           opacity:  1;
        }
        #signupForm input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #555 !important;
           opacity:  1;
        }
        #signupForm input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:    #555 !important;
        }
        #signupForm input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Microsoft Edge */
           color:    #555 !important;
        }


        .form-group input, .form-group textarea {
            width: 100%;
        }
        .form-group textarea {
            min-height: 235px;
        }
    </style>
{% endblock %}

{% block content %}
	 <div class="container">
            <section id="contact" style="">
                <div class="container">
                    <div class="row">
                        <div class="about_our_company" style="margin-bottom: 20px;">
                            <h1 style="color:#fff;" class="lang_en">Nýskráning</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <form name="sentMessage" id="signupForm" method="POST" novalidate="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="lang_en" name="name" type="text" class="form-control" placeholder="Nafn" id="name" required="" data-validation-required-message="" required>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="lang_en" name="social_id" type="text" class="form-control" placeholder="Kennitala" id="social_id" required>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="lang_en" name="email" type="tel" class="form-control" placeholder="Netfang" id="email" required data-validation-required-message="">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="lang_en" name="phone" type="email" class="form-control" placeholder="Sími" id="phone" required data-validation-required-message="">
                                            <p class="help-block text-danger"></p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="lang_en" name="address" type="text" class="form-control" placeholder="Heimilisfang" id="address" required="" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="lang_en" name="postal_code" type="text" class="form-control" placeholder="Póstfang" id="postal_code" required="">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="lang_en" autocomplete="new-username" name="username" type="text" class="form-control" placeholder="Notandanafn *" id="username" required>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="lang_en" autocomplete="new-password" name="password" type="password" class="form-control" placeholder="Lykilorð *" id="password" required>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% if signup_sent %}
                                        {% if user_exists %}
                                            <div class="col-lg-12" style="text-align: center; color:#fff;">User already exists, you can request a new password<a href="/password_reset/">here</a>.</div>
                                        {% else %}
                                            <div class="col-lg-12" style="text-align: center; color:#fff;">Application has been received, we will respond as soon as possible.</div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <div class="g-recaptcha" style="display:inline-block;" data-callback="enableSignupBtn" data-theme="dark" data-sitekey="6LdQETcUAAAAABwlFh4PAumugsVztGicNWaqQca7"></div><br>
                                        <button id="signup_submit_button" type="submit" class="btn btn-xl get lang_en" disabled>Sign up</button>
                                        <script>function enableSignupBtn() {document.getElementById("signup_submit_button").disabled = false;}</script>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </section>
     </div>

{% endblock %}

{% block scriptsextra %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
