<style>
    nav .menu-link {
        font-weight: normal;
        color: #fff !important;
    }

    nav span {
        color: #000;
    }

    #main_nav {
        padding-top: 0px !important;
        padding-left: 0px !important;
        padding-right:0px !important;
        background-color: #fff !important;
    }
    nav #navbar-top-line {
        min-height: 15px;
        background-color: #FFEB3B !important;
        width: 100%;
    }

    nav .menu-item {
      float: left;
      display: block;
    }
    @media(min-width: 1024px) {
        #navbar {
            min-width: {% if request.user.is_superuser %}600{% else %}500{% endif %}px;
        }
    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .navbar-brand {
        padding: 5px 0px !important;
    }
    .navbar-brand img {
        display: inline-block;
        height: 100%;
        width: auto;
    }
    .menu-item .menu-link span {
        color: #666;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }
    nav .active .menu-link span {
        color: #000000 !important;
    }
    nav .menu-item:hover a {
        border-bottom: 1px solid black;
    }

    p {
        font-size: 1.2rem !important;
    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    font-size: 12px;
    outline: 0;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
</style>
<nav id="main_nav" class="navbar navbar-default navbar-fixed-top" style="height: auto;">
    <div id="navbar-top-line" class="" style=""></div>
  <div class="container" style="padding-top: 0.5rem;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="helper"></span>
        <img alt="Brand" src="http://vakahf.is/wp-content/uploads/2015/08/Vaka_logo_plain.png">
      </a>
    </div>
    <div id="navbar" class="navbar">
        <div class="menu-item {% if request.path == '/' %}active{% endif %}">
            <a class="menu-link" href="/"><span class="lang_en">Uppboð</span></a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="menu-item {% if request.path == '/account/' %}active{% endif %}">
            <a class="menu-link" href="/account/"><span class="lang_en">Mín boð <i class="material-icons" style="font-size: 16px; position: relative; top: 2.15px;">account_box</i></span></a>
        </div>
        {% if request.user.is_superuser %}
            <div class="menu-item {% if request.path == '/auction/waiting/' %}active{% endif %}">
                <a class="menu-link" href="/auction/waiting/"><span class="lang_en">Afgreiða boð</span></a>
            </div>
        {% endif %}
        {% endif %}
        <div class="menu-item {% if request.path == '/about/' %}active{% endif %}">
          <a class="menu-link" href="/about/"><span class="lang_en">Um Vöku</span></a>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="menu-item {% if request.path == '/signup/' %}active{% endif %}">
            <a class="menu-link" href="/signup/"><span class="lang_en">Nýskrá</span></a>
        </div>
        {% endif %}
      {% if request.user.is_authenticated %}
        <div class="menu-item {% if request.path == '/logout/' %}active{% endif %}">
            <a class="menu-link" href="/logout/"><span class="lang_en">Útskrá</span></a>
        </div>
      {% else %}
        <div class="menu-item {% if request.path == '/login/' %}active{% endif %}">
            <a class="menu-link" href="/login/"><span class="lang_en">Innskrá</span></a>
        </div>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% if request.path == '/account/' or request.path == '/' or request.path == '/auction/waiting/' %}
<nav class="navbar" style="background-color: #232322 !important; padding-top: 1rem;">
    <div class="container">
    {% if request.path == '/account/' %}
    <h3 style="text-transform: uppercase; font-weight: bold; color: #fff;">Mín boð{{ breadcrumb_string }}</h3>
    {% elif request.path == '/auction/waiting/' %}
        <h3 style="text-transform: uppercase; font-weight: bold; color: #fff;">Boð sem bíða afgreiðslu</h3>
    {% else %}
    <h3 style="text-transform: uppercase; font-weight: bold; color: #fff;">Uppboð{{ breadcrumb_string }}</h3>
    {% endif %}
    </div>
</nav>
{% endif %}
{% comment %}
#http://vakahf.is/wp-content/uploads/bfi_thumb/tsala-no9rq030fbo54rdm52mrn5mbky4xuaxv2esx41vj5i-no9rqxx79cygqq0gnh9c4x2wyti5jeo772aee0hcxi.jpg
<div class="header-row clearfix" id="header-row" style="padding: 0px;">
        <!-- container-fluid is the same as container but spans a wider viewport,
    it still has padding though so you need to remove this either by adding
    another class with no padding or inline as I did below -->
   <div class="container-fluid" style="padding: 0px; width: 100% !important;">
      <div class="row">
        <!-- You originally has it set up for two columns, remove the second
    column as it is unneeded and set the first to always span all 12 columns
    even when at its smallest (xs). Set the overflow to hidden so no matter
    the height of your image it will never show outside this div-->
         <div class="col-xs-12" style="width: 100% !important;">
            <a class="navbar-brand logo" href="index.html" style="width: 100% !important;">
        <!-- place your image here -->
               <img src="http://vakahf.is/wp-content/uploads/bfi_thumb/tsala-no9rq030fbo54rdm52mrn5mbky4xuaxv2esx41vj5i-no9rqxx79cygqq0gnh9c4x2wyti5jeo772aee0hcxi.jpg" alt="company logo" style="width: 100%;">
            </a>
         </div>
      </div>
   </div>
</div>
{% endcomment %}
