<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vaka Uppboð">
    <meta name="author" content="Vaka hf.">
    <link rel="shortcut icon" href="">
    <title>Vaka Uppboð - {% block title%}{% endblock %}</title>

{% block css %}
    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" />
    <style>
        .btn {
  position: relative;

  display: inline-block;
  margin: 30px auto;
  padding: 5px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.contact_container {
            padding-top: 0px !important;  padding-bottom: 0px !important;
        }

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
.btn.yellow{
    background-color: #FFEB3B;
}

.btn.yellow:hover, .btn.yellow:focus{
    filter: brightness(85%);
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

        body, html {
            height: 100%;
        }
        #wrapper {
            min-height: calc(100% - 210px);
            background-color: #e9ecef;
        }
        #wrapper {
            padding-top: 50px;
        }
        img {
            max-width: 100%;
        }
        .text-center {
            text-align: center
        }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
        }
        .jumbotron {
            margin-bottom: 0px;
            background-size: cover;
        }
        .lang_en {

        }
        .lang_is {
            display: none;
        }
        .light {
            color: #fff !important;
        }
        .language_switcher {
            z-index: 5;
        }
        .language_switcher .lang_label {
            color: #000;
        }
        .page_contact .language_switcher .lang_label, .page_cartrack .language_switcher .lang_label, .page_analysis .language_switcher .lang_label,
         .page_signup .language_switcher .lang_label, .page_camping .language_switcher .lang_label {
            color: #fff;
        }
        .page_analysis .language_switcher .setLang, .page_cartrack .language_switcher .setLang, .page_camping .language_switcher .setLang {
            color: #fff;
        }
        @media(min-width: 960px) {
            .language_switcher {
                height: 0px;
            }
        }
        @media(max-width: 960px) {
            .language_switcher {
                text-align: center;
                height: 10px;
            }
            .language_switcher .text-right {
                text-align: center;
            }
        }
    </style>
    {% block cssextra %}
    {% endblock %}
{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="page_{{ context_instance.current_page }}">
{% include "pages/base_header.html" %}
{% block body %}
    <div id="wrapper" style="padding-top: 5px;">
        <div class="container language_switcher" style="position:relative;">
        </div>
            {% block content %}
                {% endblock %}

            </div>

    {% block jquery_and_bootstrap %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
    {% block scripts %}
        <!-- JS -->
    {% endblock %}
    {% block scriptsextra %}
    {% endblock %}
{% endblock %}
{% include "pages/base_footer.html" %}
<!-- Build: {{ build_info }} -->
</body>

</html>

