{% load i18n %}

<style>
    #main-footer {
        background-color: #FFEB3B;
        padding: 2%;
    }
    #main-footer p {
        color: #000;
    }
</style>
<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text_container">
                    <p><strong>Vaka hf.</strong><br>
                    Skútuvogi 8<br>
                    104 Reykjavík</p>
                    <p><a href="http://vakahf.is"><span class="lang_en" style="color: #000; font-weight: bold;">www.Vakahf.is</span></a></p>
                </div> <!-- .et_pb_text -->
            </div>
            <div class="col-lg-4">
                <div><strong>Opnunartími verslunar</strong><br></div>
                <div>
                    <span>08.00 - 18.00 mán. - fös.</span><br>
                    <span>10.00 - 14.00 laugardögum</span><br>
                    <span>Lokað á sunnudögum<span><br>
                </div>
                <div style="margin-top: 10px;"><strong>Opnunartími skrifstofu</strong><br></div>
                <div>
                    <span>09.00 - 17.00 mán. - fös.</span><br>
                    <span>Lokað um helgar</span><br>
                </div>
            </div>
            <div class="col-lg-4" style="text-align: right;">
                    <div class="menu-item {% if request.path == '/' %}active{% endif %}">
                        <a class="menu-link" href="/"><span class="lang_en">Forsíða</span></a>
                    </div>
                    <div class="menu-item {% if request.path == '/about/' %}active{% endif %}">
                      <a class="menu-link" href="/about/"><span class="lang_en">Um Vöku</span></a>
                    </div>
                    <div class="menu-item {% if request.path == '/signup/' %}active{% endif %}">
                        <a class="menu-link" href="/signup/"><span class="lang_en">Nýskrá</span></a>
                    </div>
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <div class="menu-item {% if request.path == '/auction/waiting/' %}active{% endif %}">
                            <a class="menu-link" href="/auction/waiting/"><span class="lang_en">Afgreiða boð</span></a>
                        </div>
                    {% endif %}
                    <div class="menu-item {% if request.path == '/account/' %}active{% endif %}">
                        <a class="menu-link" href="/account/"><span class="lang_en">Mín boð <i class="material-icons" style="font-size: 16px;">account_box</i></span></a>
                    </div>
                    <div class="menu-item {% if request.path == '/logout/' %}active{% endif %}">
                        <a class="menu-link" href="/logout/"><span class="lang_en">Útskrá</span></a>
                    </div>
                  {% else %}
                    <div class="menu-item {% if request.path == '/login/' %}active{% endif %}">
                        <a class="menu-link" href="/login/"><span class="lang_en">Innskrá</span></a>
                    </div>
                  {% endif %}
            </div>
        </div> <!-- .et_pb_row -->
    </div>
</footer>

{% block scriptsextra %}
<script>
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
        </script>
{% endblock %}