{% extends "pages/base_page.html" %}

{% block title %}
    Front page
{% endblock %}
{% block cssextra %}
    <style>
        .show_en .lang_en { display: inline !important; }
        .show_en .lang_is { display: none !important; }
        .show_is .lang_en { display: none !important; }
        .show_is .lang_is { display: inline !important; }
        img { max-width: 100%; }
        .jumbotron {
            background-size: cover;
        }
        .btn.light {
            border-color: #fff;
        }
        .promo {
            padding: 2%;
        }
        .area_image_container {
            padding: 15px
        }
        @media(max-width: 960px) {
            .promo {
                padding: 7%;
            }
        }
        .auction_item_photo {
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron"  style="">
        <div class="container">
            <div class="row">
            <div class="col-lg-12"><h2>Önnur boð</h2></div>
                <div class="col-lg-12">
                    <a class="btn yellow" style="color: black;" href="/auction/waiting/">Til baka</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff; min-height: 200px;">
                        <div class="promo_description">
                            <div class="row">
                                <div class="col-lg-3 auction_item_photo" style="min-height: 168px; background-image:url('{{ item.display_photo.url }}')">
                                    <a href="/auction/item/{{ item.pk }}"></a>
                                </div>
                                <div class="col-lg-6 auction_item_description" style="">
                                    {% for offer in offers %}
                                    Notandi: <a href="/admin/auction/profile/{{ offer.user.profile.first.id }}/">
                                        {{ offer.user.username }}</a> <br>
                                    Nafn: <a href="https://ja.is/?q={{ offer.user.profile.first.name }}">{{ offer.user.profile.first.name }}</a> <br>
                                    Farsími: <a href="tel:{{ offer.user.profile.first.cell_phone }}">{{ offer.user.profile.first.cell_phone }}</a>
                                    <br>
                                    Heimilisfang: <a href="https://ja.is/?q={{ offer.user.profile.first.address }}">{{ offer.user.profile.first.address }}, {{ offer.user.profile.first.postal_code }}</a>

                                    <h5>Boð: {{ offer.get_formatted_offer }}</h5>
                                    <div style="border-bottom: 1px solid #666; margin-bottom: 2%;"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron contact_container" style="margin-bottom: 0px;">
        <div class="container">
            {% include "pages/_contact.html" %}
        </div>
    </div>
{% endblock %}

{% block scriptsextra %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
