{% extends "pages/base_page.html" %}

{% block title %}
    Front page
{% endblock %}
{% block cssextra %}
    <style>
        .show_en .lang_en { display: inline !important; }
        .show_en .lang_is { display: none !important; }
        .show_is .lang_en { display: none !important; }
        .show_is .lang_is { display: inline !important; }
        img { max-width: 100%; }
        .jumbotron {
            background-size: cover;
        }
        .btn.light {
            border-color: #fff;
        }
        .promo {
            padding: 2%;
        }
        .area_image_container {
            padding: 15px
        }
        @media(max-width: 960px) {
            .promo {
                padding: 7%;
            }
        }
        .auction_item_photo {
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block content %}
{% if is_account %}
<div class="container">
    <div class="row">
        <div class="col-lg-12"><h2>Bíðandi boð</h2></div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a class="btn yellow" style="color: black" href="./">Allt</a>
            <a class="btn yellow" style="color: black" href="./?type=vehicles">Bílar</a>
            <a class="btn yellow" style="color: black" href="./?type=assorted">Ýmislegt</a>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <a class="btn yellow" style="color: black" href="./?auctioned=true">Afgreidd</a>
        </div>
    </div>
</div>
{% for item in items %}
<div class="jumbotron"  style="padding-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff;">
                        <div class="promo_description">
                            <div class="row" style="min-height: 165px;">
                                <div class="col-lg-3 auction_item_photo" style="background-image:url('{{ item.display_photo.url }}')">
                                    <a href="/auction/item/{{ item.pk }}"></a>
                                </div>
                                <div class="col-lg-5 auction_item_description">
                                    <h5>{{ item.title }}</h5>
                                    {% if item.current_offer %}
                                    Notandi: <a href="/admin/auction/profile/{{ item.current_offer.user.profile.first.id }}/">
                                        {{ item.current_offer.user.username }}</a> <br>
                                    Nafn: <a href="https://ja.is/?q={{ item.current_offer.user.profile.first.name }}">{{ item.current_offer.user.profile.first.name }}</a> <br>
                                    Farsími: <a href="tel:{{ item.current_offer.user.profile.first.cell_phone }}">{{ item.current_offer.user.profile.first.cell_phone }}</a>
                                    <br>
                                    Heimilisfang: <a href="https://ja.is/?q={{ item.current_offer.user.profile.first.address }}">{{ item.current_offer.user.profile.first.address }}, {{ item.current_offer.user.profile.first.postal_code }}</a>

                                    <h3>Boð: {{ item.current_offer.get_formatted_offer }}</h3>
                                    <form method="POST" onsubmit="return confirm('Banna {{ item.current_offer.user.username }}?');">
                                        <button type="submit" style="margin-top: 2px; margin-bottom: 2px; color: #000;" class="btn yellow">Banna notanda</button>
                                        <input type="hidden" name="pk" value="{{ item.pk }}" />
                                        <input type="hidden" name="action" value="ban" />
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 auction_item_info">
                                    <form method="POST" onsubmit="return confirm('Ertu viss?');">

                                    {% if item.current_offer %}
                                        {% if not item.buy_now %}
                                            {% if not item.is_minimum_price_reached %}
                                                <h3 style="color: red;">Lágmarksboði ekki náð</h3>
                                            {% else %}
                                                <h3 style="color: green;">Lágmarksboði náð</h3>
                                            {% endif %}
                                            <a class="btn yellow" href="{{item.id}}/" style="color: #000;">Skoða öll boð ({{ item.offers.all|length }})</a><br>
                                        {% else %}
                                            <h3 style="color: green;">Keyptur</h3>
                                        {% endif %}
                                    {% else %}
                                        <h3 style="color: red;">Ekkert boð</h3>
                                    {% endif %}
                                        {% if not item.auctioned %}
                                        <button type="submit" class="btn yellow" style="color: #000;">Merkja Boð Afgreitt</button>
                                        {% endif %}
                                        <input type="hidden" name="pk" value="{{ item.pk }}" />
                                        <input type="hidden" name="action" value="auction" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
<div class="jumbotron"  style="padding-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h3>Engin boð bíða Afgreiðslu</h3>
                </div>
            </div>
        </div>
</div>
{% endfor %}
{% endblock %}
{% if not items %}
<div class="jumbotron"  style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff;">
                        <div class="promo_description">
                            Engin boð
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
{% block scriptsextra %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
