{% extends "pages/base_page.html" %}

{% block title %}
    Front page
{% endblock %}
{% block cssextra %}
    <style>
        .show_en .lang_en { display: inline !important; }
        .show_en .lang_is { display: none !important; }
        .show_is .lang_en { display: none !important; }
        .show_is .lang_is { display: inline !important; }
        img { max-width: 100%; }
        .jumbotron {
            background-size: cover;
        }
        .btn.light {
            border-color: #fff;
        }
        .promo {
            padding: 2%;
        }
        .area_image_container {
            padding: 15px
        }
        @media(max-width: 960px) {
            .promo {
                padding: 7%;
            }
        }
        .auction_item_photo {
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron"  style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff;">
                        <div class="promo_description">
                            <div class="row">
                                <div class="col-lg-4 auction_item_photo">
                                    <img src="{{ item.display_photo.url }}" style="width: 100%; height: auto;" />
                                </div>
                                <div class="col-lg-8">
                                    <h3>{{ item.title }}</h3>
                                    <form method="POST">
                                        <div class="form-group">
                                            {% if item.current_offer %}
                                            <label for="current_offer">Núverandi boð</label>
                                            <input id="current_offer" name="current_offer" type="number" value="{{ item.current_offer.offer }}" disabled />
                                            {% else %}
                                            <input id="current_offer" name="current_offer" type="hidden" value="0" disabled/>
                                            <h2>Ekkert Boð</h2>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label for="offer">Þitt boð</label>
                                            <input id="offer" name="offer" type="number" />
                                        </div>
                                        <div class="form-group">
                                            <label for="auction_watch">Fá tilkynningu ef boðið er hærra</label>
                                            <input id="auction_watch" name="auction_watch" type="checkbox" />
                                        </div>

                                        {% if item.buy_now %}
                                            <h3>Verð: {{ item.get_formatted_minimum_offer }}</h3>
                                        {% endif %}
                                        <div class="form-group">
                                            <label for="terms_and_conditions">Ég samþykki skilmála </label>
                                            <input id="terms_and_conditions" name="terms_and_conditions" type="checkbox" required />
                                        </div>
                                        {% if Message %}
                                        <div><p style="display: none; color: #f00;">{{ Message }}</p></div>
                                        {% endif %}
                                        <button class="btn yellow" style="color: #000;" name="action" value="make_offer">Bjóða</button>
                                        <button class="btn yellow" style="color: #000;" name="action" value="buy_now">Kaupa núna</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptsextra %}
    <script></script>
{% endblock %}
