{% extends "pages/base_page.html" %}

{% block title %}
    Front page
{% endblock %}
{% block cssextra %}
    <style>
        .show_en .lang_en { display: inline !important; }
        .show_en .lang_is { display: none !important; }
        .show_is .lang_en { display: none !important; }
        .show_is .lang_is { display: inline !important; }
        img { max-width: 100%; }
        .jumbotron {
            background-size: cover;
        }
        .btn.light {
            border-color: #fff;
        }
        .promo {
            padding: 2%;
        }
        .area_image_container {
            padding: 15px
        }
        @media(max-width: 960px) {
            .promo {
                padding: 7%;
            }
        }
        .auction_item_photo {
            background-size: cover;
            background-position: center;
        }
        .trigger-image {
            margin-bottom: 5%;
            width: 100%;
            height: auto;
        }
        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
    </style>
{% endblock %}

{% block content %}

    <div class="jumbotron"  style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo" style="background-color: #ffffff;">
                        <div class="promo_description">
                            <div class="row">
                                <div class="col-lg-4 auction_item_photo">
                                    <img class="trigger-image" data-pk="?" src="{{ item.display_photo.url }}" style="width: 100%; height: auto;" />
                                    <div class="modal" data-pk="?">
                                        <!-- The Close Button -->
                                        <span class="close">&times;</span>
                                        <!-- Modal Content (The Image) -->
                                        <img class="modal-content" data-pk="?">
                                        <!-- Modal Caption (Image Text) -->
                                        <div class="caption" data-pk="?"></div>
                                    </div>
                                    {% for image in item.images.all %}
                                        <img class="trigger-image" data-pk="{{image.pk}}" {% if forloop.counter >= 3 %}style="width:50%; display: inline; float: left;"{% endif %} src="/media/{{image.image}}" alt="{{image.title}}">
                                        <div class="modal" data-pk="{{image.pk}}">
                                            <!-- The Close Button -->
                                            <span class="close">&times;</span>
                                            <!-- Modal Content (The Image) -->
                                            <img class="modal-content" data-pk="{{image.pk}}">
                                            <!-- Modal Caption (Image Text) -->
                                            <div class="caption" data-pk="{{image.pk}}">{{image.description}}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-8" style="">
                                    <h3>{{ item.title }}</h3>
                                    <div>{{ item.description }}</div>
                                    <div style="margin-top: 5%; margin-bottom: 20px;">
                                        <h5>Nánari upplýsingar</h5>
                                        {% if not item.maker == None %}
                                        <p><span>Framleiðandi</span>: {{ item.maker }}</p>
                                        {% endif %}
                                        {% if not item.written_off_registry == None %}
                                        <p><span>Skráð tjónatæki</span>: {{ item.written_off_registry }}</p>
                                        {% endif %}
                                        {% if not item.registered == None %}
                                        <p><span>Nýskráður</span>: {{ item.registered }}</p>
                                        {% endif %}
                                        {% if not item.year == None %}
                                        <p><span>Árgerð</span>: {{ item.year }}</p>
                                        {% endif %}

                                        <p><span>Framleiðsluár</span>: SKOÐA BETUR</p>
                                        {% if not item.first_registered == None %}
                                        <p><span>Fyrsti skráningardagur</span>: {{ item.first_registered }}</p>
                                        {% endif %}
                                        {% if not item.registry_number == None %}
                                        <p><span>Fastanúmer</span>: {{ item.registry_number }}</p>
                                        {% endif %}
                                        {% if not item.color == None %}
                                        <p><span>Litur</span>: {{ item.color }}</p>
                                        {% endif %}
                                        {% if not item.number_of_gears == None %}
                                        <p><span>Gírar</span>: {{ item.number_of_gears }}</p>
                                        {% endif %}
                                        {% if not item.number_of_doors == None %}
                                        <p><span>Dyr</span>: {{ item.number_of_doors }}</p>
                                        {% endif %}
                                        {% if not item.kilometer_count == None %}
                                        <p><span>Akstur</span>: {{ item.get_formatted_km_count }}</p>
                                        {% endif %}
                                        {% if not item.engine_type == None %}
                                        <p><span>Eldsneyti:</span>: {{ item.get_formatted_cc_count }}</p>
                                        {% endif %}
                                        {% if not item.engine_size == None %}
                                        <p><span>Vélarstærð(cc)</span>: {{ item.engine_size }} cc</p>
                                        {% endif %}
                                        {% if not item.seller == None %}
                                        <p><span>Seljandi</span>: {{ item.seller }}</p>
                                        {% endif %}
                                        {% if not item.resume == '' or item.resume == None %}
                                            <a style="margin-bottom: 10px;" href="{{ item.resume.url }}">Ferilskrá</a>
                                        {% endif %}
                                    </div>

                                    <div style="background-color: #eee; padding: 2%;">
                                        {% if item.buy_now %}
                                            <h3><strong>Verð</strong>: {{ item.get_formatted_minimum_offer }}</h3>
                                            <h4>{{ item.get_auction_time_left }}</h4>

                                        {% elif item.current_offer %}
                                        <h3><strong>Hæsta Boð</strong>: {{ item.get_formatted_offer }}{% if not item.is_minimum_price_reached %} (Lágmarksboði ekki náð){% endif %}</h3>
                                        <h4>{{ item.get_auction_time_left }}</h4>

                                        {% else %}
                                        <h3>Ekkert boð</h3>
                                        {% endif %}
                                        <div class="" style="padding-top: 2%; border-top: 1px solid #666;">
                                            <p>Vinsamlegast athugið að hægt er að skoða uppboðsmuni í húsnæði Vöku.
                                                Við bendum bjóðendum á að það er áríðandi að þeir skoði uppboðsmuni áður
                                                en boð eru gerð þar sem myndir geta ekki lýst fullkomlega ástandi
                                                bifreiðar eða tjóni á bifreið ef um slíkt er að ræða. Þegar um er að
                                                ræða bifreiðar sem eru í eigu tryggingafélaga eru númer ekki á bifreiðunum við sölu.
                                                Tilboð eru bindandi fyrir tilboðsgjafa hvort sem lágmarksverð næst eða
                                                ekki, sjá nánar undir skilmálum. Tilboðsgjafar verða að ganga frá
                                                greiðslu innan tveggja sólarhringa annars áskilur Vaka hf. sér rétt
                                                til að selja bifreiðina öðrum. Standi bjóðandi ekki við gefið tilboð er
                                                hann útilokaður frá því að bjóða í muni á uppboðsvef Vöku hf.</p>
                                            <p>Athugið að áríðandi er að skoða ferilskrá bifreiðar áður en tilboð eru gerð,
                                                vegna árgerðar / framleiðsluárs og annarra upplýsinga sem geta haft
                                                áhrif á verðmyndun. Ekki er hægt að falla frá tilboðum vegna
                                                skorts á upplýsingum úr ferilskrá.</p>

                                        </div>
                                        <div class="" style="text-align: center;">
                                            {% if request.user.is_authenticated %}
                                                {% if not item.is_auction_expired %}
                                                    {% if item.buy_now %}
                                                        <a href="offer/" style="color: #000;" class="btn yellow">Kaupa núna ({{ item.get_formatted_minimum_offer }})</a>
                                                    {% endif %}
                                                    <a href="offer/" class="btn yellow" style="color: #000;">Bjóða</a>
                                                {% endif %}
                                            {% else %}
                                            <p>Til þess að bjóða í eignir þarf að vera innskráður</p>
                                            <a class="btn yellow" style="color:#000; margin-top: 10px;" href="/login/">Smelltu hér til að skrá þig inn</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron contact_container" style="margin-bottom: 0px;">
        <div class="container">
            {% include "pages/_contact.html" %}
        </div>
    </div>
{% endblock %}

{% block scriptsextra %}
    <script>
        $('.trigger-image').on('click', function(){
            var pk = $(this).data('pk')

            var modal = $('.modal[data-pk="'+pk+'"]');
            var image = $('.modal-content[data-pk="'+pk+'"]');
            var caption = $('.caption[data-pk="'+pk+'"]');
            var span = $('.close[data-pk="'+pk+'"]')

            console.log('image', image, $(this).attr('src'))
            image.attr('src', $(this).attr('src'));

            span.on('click', function() {
              modal.css('display', "none");
            });
            modal.on('click', function() {
              modal.css('display', "none");
            });


            modal.css('display', "block");
            //caption.innerHTML = $(this).attr('alt');
        });

    </script>
{% endblock %}
